# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environments
venv/
.env/
.envrc
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# macOS
.DS_Store

# VSCode
.vscode/

# Data outputs
data/
pgdata/

# Airflow logs (if any)
logs/

# Docker
*.pid

# Streamlit cache
.streamlit/

# Ignore secrets (if any)
*.env